.content {
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  display: flex;
  justify-content: center;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  height: 115px;
  width: 115px;
  border: 2px solid black;
}

td {
  height: 115px;
  width: 115px;
  border: 1px solid black;
}

.selected {
  background-color: pink;
}

.primary {
  display: flex;
  position: relative;
  text-align:center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.selector-div {
  justify-content: left;
  padding: 20px 0 20px 0;
}

.selector-label {
  padding-right: 6px;
}

.refresh-div {
  padding: 20px 0 20px 0;
}